.filter {
  display: flex;
  margin-bottom: 30px;
}
  .dropdownarrow-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .filter-by ul.active .dropdownarrow-icon {
    transform: rotate(180deg);
  }
  .sort-by {
    margin-right: 50px;
  }
  .filter-by {
    display: flex;
  }
    .filter-by-wrapper {
      position: absolute;
    }
      .filter-by label {
        padding-top: 15px;
      }
      .filter-by ul {
        position: relative;
        margin-right: 150px;
      }
        .wrapper-button-sort-by {
          position: relative;
          display: inline-table;
        }
        .sort-by label,
        .filter-by label {
          font-size: 0.8125rem;
          color: #556b92;
          margin-right: 10px;
        }
        .sort-by button,
        .filter-by button,
        .filter-by li,
        .rdt input:first-child {
          background-color: transparent;
          width: 195px;
          font-size: 0.8125rem;
          color: #586e97;
          text-align: left;
          padding: 13px 20px;
          border: 1px solid #586e97;
          border-radius: 15px;
          box-sizing: border-box;
          cursor: pointer;
        }
        .filter-by button,
        .filter-by li,
        .rdt input:first-child {
          width: 140px;
        }
        .filter-by li {
          display: none;
          background-color: #263755;
          border-radius: 0;
          border-top: none;
        }
        .filter-by li:last-child {
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        .filter-by ul.active button {
          background-color: #263755;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .filter-by ul.active li {
          display: block;
        }

/* Override react-datetime */
.rdtPicker {
  background-color: #263755;
  right: 0;
  padding: 20px 15px 0;
  margin-top: 15px;
  border-radius: 15px;
  border: none;
}
  .rdtPicker table:first-child {
    margin-bottom: 30px;
  }
    .rdtPicker th {
      border: none;
    }
    .rdtSwitch {
      vertical-align: middle;
    }
    .rdtPicker thead tr:first-child th:hover,
    .rdtPicker td.rdtActive,
    .rdtPicker td.rdtActive:hover,
    td.rdtMonth:hover,
    td.rdtYear:hover {
      background: transparent;
    }

@media (max-width: 850px) {
  .sort-by {
    margin-right: 25px;
  }
    .filter-by ul {
      margin-right: 110px;
    }
      .filter-by button,
      .filter-by li,
      .rdt input:first-child {
        width: 100px;
      }
}

@media (max-width: 640px) {
  .filter {
    flex-direction: column;
  }
    .sort-by {
      margin-right: 0;
      margin-bottom: 20px;
    }
      .filter-by ul {
        margin-right: 150px;
      }
        .filter-by button,
        .filter-by li,
        .rdt input:first-child {
          width: 140px;
        }
}

@media (max-width: 400px) {
  .filter-by ul {
    margin-right: 130px;
  }
    .filter-by button,
    .filter-by li,
    .rdt input:first-child {
      width: 120px;
    }
}

@media (max-width: 350px) {
  .filter-by ul {
    margin-right: 100px;
  }
    .filter-by button,
    .filter-by li,
    .rdt input:first-child {
      width: 90px;
    }
}
