.filter {
  display: flex;
}
  .dropdownarrow-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .filter-by ul.active .dropdownarrow-icon {
    transform: rotate(180deg);
  }
  .sort-by {
    margin-right: 50px;
  }
  .filter-by {
    display: flex;
  }
    .wrapper-button-sort-by {
      position: relative;
      display: inline-table;
    }
    .sort-by label,
    .filter-by label {
      margin-right: 10px;
    }
    .sort-by button,
    .filter-by button,
    .filter-by li {
      background-color: transparent;
      color: #586e97;
      width: 195px;
      text-align: left;
      font-size: 14px;
      padding: 13px 20px;
      border: 1px solid #586e97;
      border-radius: 15px;
      box-sizing: border-box;
      cursor: pointer;
    }
  .filter-by label {
    padding-top: 15px;
  }
  .filter-by ul {
    position: relative;
  }
    .filter-by button,
    .filter-by li {
      width: 140px;
    }
    .filter-by li {
      display: none;
      background-color: #263755;
      border-radius: 0;
      border-top: none;
    }
    .filter-by li:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .filter-by ul.active button {
      background-color: #263755;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .filter-by ul.active li {
      display: block;
    }

@media (max-width: 640px) {
  .filter {
    flex-direction: column;
  }
    .sort-by {
      margin-bottom: 20px;
    }
}
