.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
  .search-form {
    position: relative;
    width: 315px;
  }
    .search-input {
      background-color: #263755;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 15px 52px 15px 20px;
      width: 100%;
      box-sizing: border-box;
    }
    .search-icon {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
      cursor: pointer;
    }

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }
    .logo {
      margin-bottom: 20px;
    }
    .search-form {
      width: 100%;
    }
}
